body {
    font-family: "Noto Serif TC", "Newsreader", sans-serif ;
    line-height: 1.5;
    background-color: #FFFDF5;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
p{
  margin-bottom: 0;
}
