.nav-input{
  border-color: #DEE2E6;
  // width: 276px;
  height: 48px;
  border-radius: 100px;
}
.btn-primary{
  color: #ffffff;
  border-radius: 100px;
  font-weight: 700;
  padding: 16px 24px;
}
.color{
  color: #569573;
}
.nav-link-color{
  color: #343A40;
  font-weight: 700;
}