.nav-input{
  border-color: #DEE2E6;
  // width: 276px;
  height: 48px;
  border-radius: 100px;
}
.btn1{
  background-color: #569573;
  border-radius: 100px;
}
.bi-search-style{
  width: 24px;
  height: 24px;
}
.color{
  color: #569573;
}
.color1{
  color: #343A40;
  font-weight: 700;
}