<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Serif+TC:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container-lg py-lg-10">
      <div class="banner card text-white rounded-0">
        <div class="card-img-overlay d-flex flex-column justify-content-end justify-content-lg-center text-center text-lg-start">
          <h5 class="card-title fs-lg-5 fs-6 mb-lg-2 mb-1 fw-bold">獻給新世代的生活風格誌</h5>
          <p class="card-text fs-lg-1 fs-3 mb-lg-5 mb-4 fw-bold">一起探索生活的無限可能</p>
          <div class="mb-8 mb-lg-0">
            <a class="btn btn-secondary-200 " href="#" role="button">馬上訂閱<i class="bi bi-arrow-right ms-2"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="container py-lg-10 py-8">
      <h2 class="mb-5">熱門主題</h2>
      <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2">
        <div class="col mb-lg-5 mb-1">
          <div class="card text-white">
            <picture>
              <source srcset="/assets/images/theme-1-sm.png" media="(max-width: 992px)">
              <img src="/assets/images/theme-1.png" class="card-img rounded-card" alt="theme">
            </picture>
            <div class="card-img-overlay d-flex align-items-center justify-content-center">
              <h5 class="card-title text-center">美食探險記</h5>
            </div>
          </div>

        </div>
        <div class="col mb-lg-5 mb-1">
          <div class="card text-white">
            <picture>
              <source srcset="/assets/images/theme-2-sm.png" media="(max-width: 992px)">
              <img src="/assets/images/theme-2.png" class="card-img rounded-card" alt="theme">
            </picture>
            <div class="card-img-overlay d-flex align-items-center justify-content-center">
              <h5 class="card-title text-center">秘境尋蹤人</h5>
            </div>
          </div>
        </div>
        <div class="col mb-lg-5 mb-1">
          <div class="card text-white">
            <picture>
              <source srcset="/assets/images/theme-3-sm.png" media="(max-width: 992px)">
              <img src="/assets/images/theme-3.png" class="card-img rounded-card" alt="theme">
            </picture>
            <div class="card-img-overlay d-flex align-items-center justify-content-center">
              <h5 class="card-title text-center">城市漫遊者</h5>
            </div>
          </div>

        </div>
        <div class="col mb-lg-5 mb-1">
          <div class="card text-white">
            <picture>
              <source srcset="/assets/images/theme-4-sm.png" media="(max-width: 992px)">
              <img src="/assets/images/theme-4.png" class="card-img rounded-card" alt="theme">
            </picture>
            <div class="card-img-overlay d-flex align-items-center justify-content-center">
              <h5 class="card-title text-center">美食探險記</h5>
            </div>
          </div>

        </div>
        <div class="col mb-lg-5 mb-1">
          <div class="card text-white">
            <picture>
              <source srcset="/assets/images/theme-5-sm.png" media="(max-width: 992px)">
              <img src="/assets/images/theme-5.png" class="card-img rounded-card" alt="theme">
            </picture>
            <div class="card-img-overlay d-flex align-items-center justify-content-center">
              <h5 class="card-title text-center">美學建築誌</h5>
            </div>
          </div>

        </div>
        <div class="col mb-lg-5 mb-1">
          <div class="card text-white">
            <picture>
              <source srcset="/assets/images/theme-6-sm.png" media="(max-width: 992px)">
              <img src="/assets/images/theme-6.png" class="card-img rounded-card" alt="theme">
            </picture>
            <div class="card-img-overlay d-flex align-items-center justify-content-center">
              <h5 class="card-title text-center">慢活生活行</h5>
            </div>
          </div>

        </div>
        <div class="col mb-lg-5 mb-1">
          <div class="card text-white">
            <picture>
              <source srcset="/assets/images/theme-7-sm.png" media="(max-width: 992px)">
              <img src="/assets/images/theme-7.png" class="card-img rounded-card" alt="theme">
            </picture>
            <div class="card-img-overlay d-flex align-items-center justify-content-center">
              <h5 class="card-title text-center">工藝匠心賞</h5>
            </div>
          </div>

        </div>
        <div class="col mb-lg-5 mb-1">
          <div class="card text-white">
            <picture>
              <source srcset="/assets/images/theme-8-sm.png" media="(max-width: 992px)">
              <img src="/assets/images/theme-8.png" class="card-img rounded-card" alt="theme">
            </picture>
            <div class="card-img-overlay d-flex align-items-center justify-content-center">
              <h5 class="card-title text-center">時尚先鋒派</h5>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="container py-lg-10 py-8">
      <div class="row">
        <div class="col-lg-4">
          <h2 class="mb-4">精選文章</h2>
        </div>
        <div class="col-lg-8 swiper swiper1">
          <div class="row swiper-wrapper row-cols-1 row-cols-lg-2">
            <div class="col swiper-slide">
              <div class="card border-0 border-bottom border-gray-500">
                <img src="/assets/images/articles-1.png" class="card-img-top" alt="...">
                <div class="card-body ps-0 py-5">
                  <h5 class="card-title">私人島嶼的露營奇遇記</h5>
                  <p class="card-text mb-5">遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...</p>
                  <div class="mt-auto">
                    <a href="#" class="text-secondary-200 fw-bold fs-5 ps-0 font-fam py-1">Read More</a>
                  </div>

                </div>
              </div>
            </div>
            <div class="col swiper-slide">
              <div class="card border-0 border-bottom border-gray-500">
                <img src="/assets/images/articles-2.png" class="card-img-top" alt="...">
                <div class="card-body ps-0 py-5">
                  <h5 class="card-title">窺探米其林三星主廚的絕密手藝</h5>
                  <p class="card-text mb-5">在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...</p>
                  <a href="#" class="text-secondary-200 fw-bold fs-5 ps-0 font-fam py-1">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="bg-color">
      <div class="container py-10">
        <div class="d-flex justify-content-center">
          <div class="text-center">
            <h4 class="text-primary-400 pb-4">  \ 母親節強檔活動 / </h4>
            <h2 class="pb-4">家庭訂閱方案限時 7 折</h2>
            <ul class="text-secondary list-unstyled">
              <li class=" pb-3"><i class="bi bi-check me-1"></i>每月最新文章無限閱讀</li>
              <li class=" pb-3"><i class="bi bi-check me-1"></i>專屬會員限定內容</li>
              <li class=" pb-3"><i class="bi bi-check me-1"></i>定期電子報</li>
              <li class=" pb-3"><i class="bi bi-check me-1"></i>年度精選禮物</li>
              <li class=" pb-3"><i class="bi bi-check me-1"></i>24 /7 優先客戶服務</li>
              <li class=" pb-7"><i class="bi bi-check me-1"></i>為每個成員量身打造專屬行程</li>
            </ul>
            <a class="btn btn-secondary-200" href="#" role="button">我想了解</a>
          </div>
        </div>
      </div>
      <!-- <div class="position-relative">
        <img src="/assets/images/bg-1.png" alt="" class="position-absolute bottom-0">
        <img src="/assets/images/bg-2.png" alt="" class="position-absolute bottom-0 end-0">
      </div> -->
      <div class="position-relative">
        <img src="/assets/images/bg-1.png" alt="" class="d-lg-block d-none position-absolute bottom-0">
        <picture class="position-absolute bottom-0 end-0">
          <source srcset="/assets/images/bg-2-sm.png" media="(max-width: 576px)">
          <img src="/assets/images/bg-2.png" alt="...">
        </picture>
        <div>
        </div>
        <div>
        </div>
      </div>
    </div>

    <div>
      <div class="container py-10">
        <h2 class="mb-7">大家都在看</h2>
        <div class="container">
          <div class="row d-none d-lg-flex">
            <div class="col-3">
              <div class="bg-white d-flex flex-column px-5 pt-5 h-100">
                <div class="btn-group-vertical" role="group" aria-label="Basic outlined example">
                  <button type="button" class="btn btn-outline-secondary-100 text-start py-3 ps-3 mb-5">酒精路跑地圖</button>
                  <button type="button" class="btn btn-outline-secondary-100 text-start py-3 ps-3 mb-5">台北拉麵圖鑑</button>
                  <button type="button" class="btn btn-outline-secondary-100 text-start py-3 ps-3 mb-5">海島自由行</button>
                  <button type="button" class="btn btn-outline-secondary-100 text-start py-3 ps-3 mb-5">短天數出國推薦</button>
                  <button type="button" class="btn btn-outline-secondary-100 text-start py-3 ps-3 mb-5">週末露營趣</button>
                </div>
              </div> 
            </div>
            <div class="col-9">
              <div class="d-flex bg-white p-7">
                <div class="">
                  <h4 class="text-secondary-200 pb-5">酒精路跑地圖</h4>
                  <ul class="fw-bold list-unstyled">
                    <li class="pb-4">｜城市酒吧人氣榜,盤點當紅熱門酒吧</li>
                    <li class="pb-4">｜你要的調酒師在這裡！五月全台酒吧客座活動整理</li>
                    <li class="pb-7">｜台南老宅手工酒藏,尋味百年人文釀意</li>
                  </ul>
                    <ul class="d-flex justify-content-between list-unstyled">
                      <li>
                        <img src="/assets/images/hots-1.png" alt="" class="pe-1 rounded-1">
                      </li>
                      <li>
                        <img src="/assets/images/hots-2.png" alt="" class="pe-1">
                      </li>
                      <li>
                        <img src="/assets/images/hots-3.png" alt="" class="pe-1">
                      </li>
                      <li>
                        <img src="/assets/images/hots-4.png" alt="" class="">
                      </li>
                    </ul>

                  <div class="d-flex justify-content-between align-items-center mt-7">
                    <div>
                      <span class="badge bg-primary-300 text-primary-400 pe-3">#夜貓行程</span>
                      <span class="badge bg-primary-300 text-primary-400 pe-3">#barhopping</span>
                      <span class="badge bg-primary-300 text-primary-400">#全台酒吧</span>
                    </div>
                    <a href="#" class="text-secondary-200 fw-bold fs-5 ps-0 font-fam py-1 ms-auto">Read More<i class="bi bi-arrow-right align-text-top ms-2"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card d-lg-none bg-white p-3">
              <h4 class="text-secondary-200 pb-5">酒精路跑地圖</h4>
              <ul class="fw-bold">
                <li class="pb-4">｜城市酒吧人氣榜,盤點當紅熱門酒吧</li>
                <li class="pb-4">｜你要的調酒師在這裡！五月全台酒吧客座活動整理</li>
                <li class="pb-7">｜台南老宅手工酒藏,尋味百年人文釀意</li>
                </ul>
              <img src="/assets/images/hots-1-sm.png" class="card-img-top" alt="...">
              <a href="#" class="btn btn-outline-secondary-200 fw-bold fs-5 ps-0 font-fam py-1">Read More</a>
            </div>
          </div>
          <div class="">
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="container py-10">
        <h2 class="mb-7">品味生活</h2>
        <div class="row row-cols-1 row-cols-lg-3">
          <div class="col">
            <div class="card">
              <h5 class="fs-7 text-primary-400 pb-6">食.</h5>
              <img src="/assets/images/life-1.png" class="card-img-top mb-lg-6 mb-5" alt="...">
              <div class="card-body px-0">
                <p class="card-text fs-5 fw-bolder mb-4">｜米其林三星主廚的那些絕活傳奇</p>
                <p class="card-text fs-5 fw-bolder mb-4">｜探秘成都的地道川味秘技與魅力</p>
                <p class="card-text fs-5 fw-bolder mb-4">｜義大利釀酒師對於酒的堅持執著</p>
                <div class=" text-center">
                  <a href="#" class="text-secondary-200 fw-bold fs-5 ps-0 font-fam py-1">View More<i class="bi bi-arrow-right ms-2 align-text-top"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <h5 class="fs-7 text-primary-400 pb-6">藝.</h5>
              <img src="/assets/images/life-2.png" class="card-img-top mb-lg-6 mb-5" alt="...">
              <div class="card-body px-0">
                <p class="card-text fs-5 fw-bolder mb-4">｜解構教主級時裝設計大師的獨特美學</p>
                <p class="card-text fs-5 fw-bolder mb-4">｜當代攝影師鏡頭中的光影離奇</p>
                <p class="card-text fs-5 fw-bolder mb-4">｜帶你穿縮中世紀，夏季文藝復興展</p>
                <div class=" text-center">
                  <a href="#" class="text-secondary-200 fw-bold fs-5 ps-0 font-fam py-1">View More<i class="bi bi-arrow-right ms-2 align-text-top"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <h5 class="fs-7 text-primary-400 pb-6">旅.</h5>
              <img src="/assets/images/life-3.png" class="card-img-top mb-lg-6 mb-5" alt="...">
              <div class="card-body px-0">
                <p class="card-text fs-5 fw-bolder mb-4">｜遠離喧囂,偶探巴塔哥尼亞終界</p>
                <p class="card-text fs-5 fw-bolder mb-4">｜東京深度六區,帶你細品極簡魅力</p>
                <p class="card-text fs-5 fw-bolder mb-4">｜專賣奇珍異寶的東歐地下夜市</p>
                <div class=" text-center">
                  <a href="#" class="text-secondary-200 fw-bold fs-5 ps-0 font-fam py-1">View More<i class="bi bi-arrow-right ms-2 align-text-top"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="">
      <div class="container py-10">
        <div class="row row-cols-1 row-cols-lg-2">
          <div class="col">
            <div class="h-100 d-flex flex-column justify-content-center">
              <h5 class="fs-5 mb-2 text-secondary">今天又不知道要去哪裡了嗎？</h5>
              <p class="fs-2 mb-5 fw-bold">Vivre 給你意想不到的生活風格提案</p>
              <div>
                <a class="btn btn-secondary-200 mb-8 mb-lg-0" href="#" role="button">馬上訂閱<i class="bi bi-arrow-right ms-2"></i></a>
              </div>
            </div>
          </div>
          <div class="col">
              <div class="row row-cols-lg-2 row-cols-md-2 row-cols-1 flex-wrap">
                <div class="col mt-lg-5 mt-md-6 mb-5 mb-lg-0">
                  <div class="card text-white position-relative">
                    <img src="/assets/images/projects-2.png" class="card-img" alt="...">
                    <div class="card-img-overlay d-flex flex-column justify-content-end py-0">
                      <div class="badge bg-white border border-secondary-100 text-secondary-300 position-absolute translate-middle-y top-0 start-0 ms-3 py-1
                      "><i class="bi bi-caret-right-fill pe-1"></i>人氣行程</div>
                      <div class="position-absolute top-0 start-0">
                      </div>
                      <p class="card-title fw-bold pb-0 fs-6 d-flex align-items-center justify-content-between">親子露營要帶什麼？<i class="bi bi-arrow-right fs-5"></i></p>                     
                    </div>
                  </div>
                </div>
                <div class="col mb-5 mb-lg-0">
                  <div class="card text-white position-relative">
                    <img src="/assets/images/projects-1.png" class="card-img" alt="...">
                    <div class="card-img-overlay d-flex flex-column justify-content-end py-0">
                      <div class="badge bg-white border border-secondary-100 text-secondary-300 position-absolute translate-middle-y top-0 start-0 ms-3 py-1
                      "><i class="bi bi-caret-right-fill pe-1"></i>編輯推薦</div>
                      <div class="position-absolute top-0 start-0">
                      </div>
                      <p class="card-title fw-bold pb-0 fs-6 d-flex align-items-center justify-content-between">山女孩的健行筆記<i class="bi bi-arrow-right fs-5"></i></p>                     
                    </div>
                  </div>
                </div>
                <div class="col mt-lg-5 mt-md-6 mb-5 mb-lg-0">
                  <div class="card text-white position-relative">
                    <img src="/assets/images/projects-4.png" class="card-img" alt="...">
                    <div class="card-img-overlay d-flex flex-column justify-content-end py-0">
                      <div class="badge bg-white border border-secondary-100 text-secondary-300 position-absolute translate-middle-y top-0 start-0 ms-3 py-1
                      "><i class="bi bi-caret-right-fill pe-1"></i>編輯推薦</div>
                      <div class="position-absolute top-0 start-0">
                      </div>
                      <p class="card-title fw-bold pb-0 fs-6 d-flex align-items-center justify-content-between">質感房間改造攻略！<i class="bi bi-arrow-right fs-5"></i></p>                     
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card text-white position-relative">
                    <img src="/assets/images/projects-3.png" class="card-img" alt="...">
                    <div class="card-img-overlay d-flex flex-column justify-content-end py-0">
                      <div class="badge bg-white border border-secondary-100 text-secondary-300 position-absolute translate-middle-y top-0 start-0 ms-3 py-1
                      "><i class="bi bi-caret-right-fill pe-1"></i>熱門文章</div>
                      <div class="position-absolute top-0 start-0">
                      </div>
                      <p class="card-title fw-bold pb-0 fs-6 d-flex align-items-center justify-content-between">適合溜小孩的海邊景點推薦<i class="bi bi-arrow-right fs-5"></i></p>                     
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>
        
      </div>
    </div>

    <div>
      <div class="container py-10">
        <div class="d-lg-flex justify-content-lg-between">
          <h5 class="fs-2 text-center pb-lg-0 pb-3">想看什麼主題由你決定！</h5>
          <div class="">
            <p class="fs-4 fw-bold mb-lg-3 text-center mb-6">歡迎投稿與我們分享</p>
            <div class="w-100">
              <div class="text-lg-end text-center">
                <a class="btn btn-secondary-200" href="#" role="button">聯絡我們</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
