<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Serif+TC:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="signup">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 bg-white mx-auto d-flex flex-column p-lg-7 p-5 border border-primary-300 rounded">
            <h2 class="fs-4 text-secondary-200 mb-lg-7 mb-5">登入</h2>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label fw-bold mb-lg-2 mb-1">會員帳號</label>
              <input type="email" class="form-control border-0 bg-gray-100 py-2 px-3" id="exampleFormControlInput1" placeholder="請輸入會員帳號">
            </div>
  
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label fw-bold mb-2">密碼</label>
              <input type="email" class="form-control border-0 bg-gray-100 py-2 px-3" id="exampleFormControlInput1" placeholder="請輸入密碼">
            </div>
  
            <a class="btn btn-secondary-200 mb-lg-7 mb-5" href="#" role="button">立即登入<i class="bi bi-arrow-right ms-2"></i></a>
  
            <div class="text-center text-gray-300 mb-lg-7 mb-5 divider">
              <span class="text-gray-300 bg-white px-1">或以其他方式登入</span>
            </div>
  
  
            <a class="btn btn-gray-100 mb-1" href="#" role="button"><img src="/assets/images/google.png" alt="google" class="me-2">使用 Google 註冊</a>
            <a class="btn btn-gray-100 mb-lg-7 mb-5" href="#" role="button"><img src="/assets/images/fb.png" alt="fb" class="me-2">使用 Facebook 註冊</a>

            <div class="d-flex justify-content-center mb-lg-7 mb-5">
              <p class="me-2">已經是會員了？</p>
              <a href="sign.html" class="text-secondary-200">點此註冊</a>
          </div>

          </div>
        </div>
      </div>
    </div>




    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
